/*!
 *
 */

@charset "UTF-8";

/* Fonts
===========================================================*/
@font-face {
    font-family: 'volkhovbold_italic';
    src: url('../fonts/Volkhov-BoldItalic/volkhov-bolditalic-webfont.eot');
    src: url('../fonts/Volkhov-BoldItalic/volkhov-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Volkhov-BoldItalic/volkhov-bolditalic-webfont.woff') format('woff'),
        url('../fonts/Volkhov-BoldItalic/volkhov-bolditalic-webfont.ttf') format('truetype'),
        url('../fonts/Volkhov-BoldItalic/volkhov-bolditalic-webfont.svg#volkhovbold_italic') format('svg');
    font-weight: bold;
    font-style: italic;
}
