/*!
 *
 */

@charset "UTF-8";

/* Lang-bar
===========================================================*/
#lang-bar {
    position: relative;
    z-index: 1001;
    height: 0px;
    background-color: #fff;
    position: fixed;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    transition: height ease-out .2s;
    -webkit-transition: height ease-in-out .2s;
    -moz-transition: height ease-in-out .2s;
    box-shadow: 3px 0 6px rgba(0,0,0,.2);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#lang-bar.open {
    height: 80px;
}
#lang-bar > menu {
    margin-top: 40px;
}