/*!
 *
 */

@charset "UTF-8";

/* Accueil section
===========================================================*/
#accueil h2 {
    color: #fff;
    font-family: 'volkhovbold_italic', serif;
    font-weight: bold;
    font-size: 1.7em;
    font-style: italic;
}

#accueil .well {
    background-color: rgba(255,255,255,.9);
    border: none;
}

/* Hotels section
===========================================================*/
#hotels {
    width: 440px;
}

/* Contact section
===========================================================*/
#section-contact-map {
    width: 400px;
    background: url('../img/contact-map.png') center center no-repeat;
    height: 100%;
}

#section-contact-about {
    width: 600px;
    height: 100%;
}

#section-contact-form{
    width: 800px;
    height: 100%;
    box-shadow: 6px 0px 10px 0px #ccc;
    -moz-box-shadow: 6px 0px 10px 0px #000;
    -webkit-box-shadow: 6px 0px 10px 0px #000;
    z-index: 500;
}
#section-contact-picture {
    width: 400px;
    height: 100%;
    background: url('../img/contact-picture.png') -200px center no-repeat;
    background-size: auto 100%;
    box-shadow: 6px 0px 10px 0px #ccc;
    -moz-box-shadow: 6px 0px 10px 0px #ccc;
    -webkit-box-shadow: 6px 0px 10px 0px #ccc;
    z-index: 499;
    transition: all ease-in-out .3s;
}
#section-contact-picture:hover,
#section-contact-picture.hover {
    width: 600px;
    height: 100%;
}
#section-logo-picture {
    width: 400px;
    height: 100%;
    background: url('../img/logo/logo_128.png') center no-repeat;
    box-shadow: 6px 0px 10px 0px #ccc;
    -moz-box-shadow: 6px 0px 10px 0px #ccc;
    -webkit-box-shadow: 6px 0px 10px 0px #ccc;
    z-index: 498;
}