
@charset "UTF-8";

/* contenu cover
===========================================================*/
section#section-reserve-img{
    padding: 0px;
}
#section-reserve-desc > div{
    padding-left: 20px;
    padding-right: 20px;
    float: left;
    height: 100%;
}
#section-reserve-desc > div.choose-formula{
    width: 700px;
}
#section-reserve-desc{
    height: 100%;
    padding-left: 0;
}
#section-reserve-formules, #section-reserve-recap{
    width: 980px;
    height: 100%;
}
/* Image cover
===========================================================*/
#cover-img{
    height: 100%;
    width: 250px;
    overflow: hidden;
    transition: width ease-in-out .3s;
    background-color: #cccccc;
}
#cover-img:hover, #cover-img.click{
    width: 550px;
}
#cover-img > img{
    height: 100%;
    width: auto;
    margin: 0 0 0 -30%;
    overflow: hidden;
}
.quality-right {
    float: right;
    color: #ffab00;
    clear: left;
}
/* Btn inver type
===========================================================*/
.btn-link.inverse{
    color:#fff;
}