/*!
 *
 */

@charset "UTF-8";

/* Form elements
===========================================================*/
.form-inline .control-label {
    display: block;
}

.form-inline .form-control {
    width: 100%;
}

/* Buttons
===========================================================*/
.btn {
    font-weight: bold;
}

.btn, .form-control {
    border-radius: 0px;
    -moz-border-radius: 0px;
    -o-border-radius: 0px;
}