/*!
 *
 */

@charset "UTF-8";

/* Stylesheets importations
===========================================================*/
@import 'vendor/bootstrap.min.css';
@import 'vendor/font-awesome.min.css';
@import 'vendor/jquery-ui.css';
@import 'vendor/animate.min.css';

@import '_fonts.css';
@import '_spacer.css';
@import '_navbar.css';
@import '_aside.css';
@import '_thumbnail.css';
@import '_slider.css';
@import '_langbar.css';
@import '_form.css';
@import '_pages.css';
@import '_pins.css';

/* Horizontal Scrolling
===========================================================*/
html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 8000px;
    overflow-x: visible;
    overflow-y: hidden;
}

h1,h2,h3,h4,h5,h6{
    color: #00a6e4;
}

.well > h1,
.well > h2,
.well > h3,
.well > h4,
.well > h5,
.well > h6 {
    padding-bottom: 20px;
    margin-bottom: 25px;
    border-bottom: 2px solid #00a6e4;
}

body > .ajax-container > section {
    position: relative;
    float: left;
    z-index: 500;
    vertical-align:top;
    display: block;
    padding: 50px 20px 20px 20px;
    height: 100%;
}
.ajax-container{
    height: 100%;
}
body > .ajax-container > section.inverse {
    background-color: #3276B1;
    color: #fff;
}

.inverse h1,
.inverse h2,
.inverse h3,
.inverse h4,
.inverse h5,
.inverse h6 {
    color: #fff;
}

section > video {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: auto;
}

section > video:focus {
    outline: none;
}

/*
===========================================================*/
.screen > .container {
    position: relative;
    top: 50%;
    margin-top: -50px;
    border-bottom-color: #E3E3E3;
}

/* Nav arrow
===========================================================*/
#nav-arrow{
    position: fixed;
    z-index: 2000;
    height: 100%;
    width: 100px;
    right: 0px;
    background: transparent;
    float: right;
    top: 55%;
    opacity: 0;
    /*-webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    animation:where-to-go 3s;
    -webkit-animation:where-to-go 3s; /* Safari and Chrome */
    -moz-animation:where-to-go 3s;
    -webkit-animation-iteration-count:2;
    -moz-animation-iteration-count:2;
    animation-iteration-count:2;
}

#nav-arrow > h1{
    /*color: #ffab00;*/
}

@-webkit-keyframes where-to-go {
  0%   { right: 0px; opacity: 0; }
  25%   { right: 100px; opacity: 1;}
  50%   { right: 0px; opacity: .6;}
  75%   { right: 100px; opacity: 1; }
  100% { right: 0px; opacity: 0; }
}
@-moz-keyframes where-to-go {
  0%   { right: 0px; opacity: 0; }
  25%   { right: 100px; opacity: 1;}
  50%   { right: 0px; opacity: .6;}
  75%   { right: 100px; opacity: 1; }
  100% { right: 0px; opacity: 0; }
}
@-o-keyframes where-to-go {
  0%   { right: 0px; opacity: 0; }
  25%   { right: 100px; opacity: 1;}
  50%   { right: 0px; opacity: .6;}
  75%   { right: 100px; opacity: 1; }
  100% { right: 0px; opacity: 0; }
}
@keyframes where-to-go {
  0%   { right: 0px; opacity: 0; }
  25%   { right: 100px; opacity: 1;}
  50%   { right: 0px; opacity: .6;}
  75%   { right: 100px; opacity: 1; }
  100% { right: 0px; opacity: 0; }
}
