/*!
 *
 */

@charset "UTF-8";

/* Stylesheets importations
===========================================================*/
@import 'vendor/bootstrap.min.css';
@import 'vendor/font-awesome.min.css';
@import 'vendor/jquery-ui.css';

@font-face {
    font-family: 'volkhovbold_italic';
    src: url('../fonts/Volkhov-BoldItalic/volkhov-bolditalic-webfont.eot');
    src: url('../fonts/Volkhov-BoldItalic/volkhov-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Volkhov-BoldItalic/volkhov-bolditalic-webfont.woff') format('woff'),
        url('../fonts/Volkhov-BoldItalic/volkhov-bolditalic-webfont.ttf') format('truetype'),
        url('../fonts/Volkhov-BoldItalic/volkhov-bolditalic-webfont.svg#volkhovbold_italic') format('svg');
    font-weight: bold;
    font-style: italic;
}

/* Horizontal Scrolling
===========================================================*/
html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;

    width: 8000px;
    overflow-x: visible;
    overflow-y: hidden;
}

h1,h2,h3,h4,h5,h6{
    color: #00a6e4;
}

.btn {
    font-weight: bold;
}

.well > h1,
.well > h2,
.well > h3,
.well > h4,
.well > h5,
.well > h6,
.title-header{
    padding-bottom: 20px;
    margin-bottom: 25px;
    border-bottom: 2px solid #00a6e4;
}

#accueil h2 {
    color: #fff;
    font-family: 'volkhovbold_italic', serif;
    font-weight: bold;
    font-size: 1.7em;
    font-style: italic;
}

#accueil .well {
    background-color: rgba(255,255,255,.9);
    border: none;
}

body > section {
    position: relative;
    float: left;
    z-index: 500;
    vertical-align:top;
    display: block;
    padding: 50px 20px 20px 20px;
    height: 100%;
}

section > video {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: auto;
}

section > video:focus {
    outline: none;
}

/* Spacers
===========================================================*/
.spacer {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    height: 16px;
}
.spacer.spacer-thin {
    height: 8px;
}

.spacer.spacer-wide {
    height: 32px;
}

/* Navbar
===========================================================*/
.navbar {
    min-height: 50px;
    height: 50px;
    border: none;
}

.navbar-brand {
    padding: 6px;
    font-size: 22px;
    height: auto;
}

.navbar-default  {
    background-color: #3276B1;
    /*box-shadow: 4px 0 4px 2px rgba(50,50,50,.5);*/
    border-bottom: 1px solid rgba(255,255,255,.8);
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover {
    font-family: 'volkhovbold_italic', serif;
    font-weight: bold;
    font-style: italic;
    color: #fff;
}

.navbar-default .navbar-nav > li > a {
    font-size: 1em;
    font-family: Arial;
    color: #fff;
    padding-top: 25px;
    padding-bottom: 4px;
    transition: ease-in-out all .3s;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li.active > a,
.navbar-default .navbar-nav > li.active > a:focus {
    background-color: #14B5F2;
    color: #fff;
}

.navbar-default .navbar-nav > li > a:focus {
    outline: none;
    color: #fff;
}

/* Aside
===========================================================*/
#sidebar {
    position: relative;
    z-index: 1000;
    height: 100%;
    background-color: #fff;
    position: fixed;
    padding-top: 40px;
    display: inline-block;
    width: 0;
    overflow: hidden;
    transition: width ease-out .2s;
    -webkit-transition: width ease-in-out .2s;
    -moz-transition: width ease-in-out .2s;
    box-shadow: 3px 0 6px rgba(0,0,0,.2);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#sidebar.open{
    width: 200px;
}
/* thubms rails
===========================================================*/

.thumbs-rail {
    width: 100%;
}

.thumbs-rail .thumb {
    float: left;
    width: 440px;
    padding: 30px 20px;
}

.thumb img {
    width: 100%;
    height: 250px;
}

/* sejours
===========================================================*/
#sejours {
    width: 3000px;
}

/* Form elements
===========================================================*/
.form-inline .control-label {
    display: block;
}

.form-inline .form-control {
    width: 100%;
}

.btn, .form-control {
    border-radius: 0px;
    -moz-border-radius: 0px;
    -o-border-radius: 0px;
}

/* JQuery ui sliders
===========================================================*/
.ui-slider-horizontal {
    height: 1em;
    margin: 10px 0;
}

.ui-slider .ui-slider-handle {
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    border: 2px solid #fff;
    background-color: #428BCA;
    cursor: move;
}

.ui-slider-horizontal .ui-slider-range {
    background-color: #c4e3f3;
}

.ui-slider-horizontal .ui-slider-handle {
    top: -5px; 
    margin-left: -10px; 
}

.ui-widget-content {
    border: 1px solid #ccc;
    border-radius: 4px;
}

.price{
    color: #428BCA;
    font-weight: bolder;
}

/*
===========================================================*/
.screen > .container {
    position: relative;
    top: 50%;
    margin-top: -50px;
    border-bottom-color: #E3E3E3;
}

/* Thumbnails
===========================================================*/
.thumbnail {
    min-height: 300px;
    position:relative;       
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.caption > p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.thumbnail:before, .thumbnail:after {
    content:"";
    position:absolute; 
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:50%;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}

/* Lang-bar
===========================================================*/
#lang-bar {
    position: relative;
    z-index: 1001;
    height: 0px;
    background-color: #fff;
    position: fixed;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    transition: height ease-out .2s;
    -webkit-transition: height ease-in-out .2s;
    -moz-transition: height ease-in-out .2s;
    box-shadow: 3px 0 6px rgba(0,0,0,.2);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#lang-bar.open {
    height: 80px;
}
#lang-bar > menu {
    margin-top: 40px;
}
