/*!
 *
 */

@charset "UTF-8";

/* Stylesheets importations
===========================================================*/
@import 'vendor/bootstrap.min.css';
@import 'vendor/font-awesome.min.css';
@import 'vendor/jquery-ui.css';

/* Horizontal Scrolling
===========================================================*/
html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;

    width: 8000px;
    overflow-x: visible;
    overflow-y: hidden;
}

body > section {
    vertical-align:top;
    display: inline-block;
    padding-top: 40px;
    min-width: 800px;
    height: 100%;
}

/* Navbar
===========================================================*/
.navbar {
    min-height: 40px;
    border: none;
    background: none;
    color: #000;
}

.navbar-brand {
    padding: 10px;
    height: 40px;
}

.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Aside
===========================================================*/
aside {
    padding-top: 40px;
    display: inline-block;
    width: 0;
    overflow: hidden;
    transition: width ease-out .3s;
    -webkit-transition: width ease-out .3s;
    -moz-transition: width ease-out .3s;
}

aside.open{
    width: 200px;
}

/* Wells
===========================================================*/
.well {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

/* Form elements
===========================================================*/
.form-inline .control-label {
    display: block;
}

.form-inline .form-control {
    width: 100%;
}

/* JQuery ui sliders
===========================================================*/
.ui-slider-horizontal {
    height: 20px;
    margin: 10px 0;
}

.ui-slider .ui-slider-handle {
    width: 0;
    height: 20px;
    cursor: move;
}

.ui-slider .ui-slider-handle {
    width: 20px;
    height: 20px;
    cursor: move;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    border: none;
}

.ui-slider-horizontal .ui-slider-handle {
    top: 0; 
    margin-left: -10px; 
}

.ui-widget-content {
    border: none;
}