/*!
 *
 */

@charset "UTF-8";

/* JQuery ui sliders
===========================================================*/
.ui-slider-horizontal {
    height: 1em;
    margin: 10px 0;
}

.ui-slider .ui-slider-handle {
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    border: 2px solid #fff;
    background-color: #428BCA;
    cursor: move;
}

.ui-slider-horizontal .ui-slider-range {
    background-color: #c4e3f3;
}

.ui-slider-horizontal .ui-slider-handle {
    top: -5px; 
    margin-left: -10px; 
}

.ui-widget-content {
    border: 1px solid #ccc;
    border-radius: 4px;
}